<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Liuzhiping-Home</title>
<link href="/usercontroller/css/bootstrap.css" rel='stylesheet' type='text/css'/>
<link href="/usercontroller/css/style.css" rel="stylesheet" type="text/css" media="all"/>
	<!--播放器样式-->
	<link href="/usercontroller/css/player.css" rel="stylesheet" type="text/css" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Emrah_Demirag Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"> </script>
<!--web_fonts-->
<!--<link href='http://fonts.useso.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Vollkorn:400italic,700italic,400,700' rel='stylesheet' type='text/css'>-->
<!--/web_fonts-->
<!--start-smoth-scrolling-->
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},900);
				});
			});
		</script>
<!--start-smoth-scrolling-->
</head>
<body>
<!--header-->
<div id="home" class="banner">
	<div class="container">
		<div class="label-1"> </div>
		<div class="top-menu">
		<span class="menu"> </span> 
			<ul class="nav">
					<li><a class="scroll" href="#home">HOME</a></li>
					<li><a class="scroll" href="#about">ABOUT</a></li>
					<li><a class="scroll" href="#work">WORK</a></li>
					<li><a class="scroll" href="#contact">CONTACT</a></li>
				</ul>
				<div class="logo">
					<a href="#"><img src="/usercontroller/images/logo.png" /></a>
				</div>
				<div class="clearfix"> </div>
	</div>	
			 <!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(".top-menu ul").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->	
			<div id="banner-top" class="banner-top">		  		  
				<h1><span class="left-icon"> </span>Liuzhiping-Home<span class="right-icon"> </span><div class="clearfix"> </div></h1>
				<h2><span class="left-icon"> </span>UI&UX DESIGNER<span class="right-icon"> </span><div class="clearfix"> </div></h2>
			</div>
		<div class="header-icons">
			<a href="#"><span class="fb"> </span></a>
			<a href="#"><span class="tw"> </span></a>
			<a href="#"><span class="pin"> </span></a>	
			<a href="#"><span class="likdin"> </span></a>	
			<a href="#"><span class="dribble"> </span></a>	 
			<a href="#"><span class="be"> </span></a>
		 </div>
</div>
</div>
<!--/header-->
<!--work-->
<div id="work" class="work">
	<div class="container">
		<div class="label-3"> </div>
		<div class="label-4"> </div>
		<h3><span class="left-icon"> </span>WORK<span class="right-icon"> </span><div class="clearfix"> </div></h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
		<!--Portfolio-->
	<div class="project">
					<div id="portfoliolist">
						<div class="portfolio" style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/usercontroller/user/photo" target="_blank" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="/usercontroller/images/p1.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">My photo<img src="/usercontroller/images/logo.png" /></h2>
							  	 </div></a>
			                </div>
						</div>				
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/usercontroller/user/toArticale" target="_blank" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="/usercontroller/images/p2.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Romantic confession<img src="/usercontroller/images/logo.png" /></h2>
							  	 </div></a>
			               	</div>
						</div>		
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/usercontroller/user/resume" target="_blank" class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="/usercontroller/images/p3.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="/usercontroller/images/logo.png" /></h2>
							  	 </div></a>
			                </div>
						</div>						
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/usercontroller/user/love"  target="_blank"class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="/usercontroller/images/p4.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="/usercontroller/images/logo.png" /></h2>
							  	 </div></a>
			                </div>
						</div>	
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">
								<a href="/usercontroller/user/resume" class="b-link-stripe b-animate-go   swipebox"  >
							     <img src="/usercontroller/images/p5.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Personal resume<img src="/usercontroller/images/logo.png" /></h2>
							  	 </div></a>
			                </div>
						</div>
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/usercontroller/images/p6.jpg" target="_blank" class="b-link-stripe b-animate-go  swipebox"  title="Image Title">
							     <img src="/usercontroller/images/p6.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="/usercontroller/images/logo.png" /></h2>
							  	 </div></a>
			                </div>
			            </div>	
			            <div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/usercontroller/images/p7.jpg"target="_blank"  class="b-link-stripe b-animate-go   swipebox"  title="Image Title">
							     <img src="/usercontroller/images/p7.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="/usercontroller/images/logo.png" /></h2>
							  	 </div></a>
			                </div> 
						</div>			
						<div class="portfolio"  style="display: inline-block; opacity: 1;">
							<div class="portfolio-wrapper">		
								<a href="/usercontroller/images/p8.jpg" class="b-link-stripe b-animate-go  swipebox"  title="Image Title">
							     <img src="/usercontroller/images/p8.jpg" /><div class="b-wrapper"><h2 class="b-animate b-from-left    b-delay03 ">Processing Steps Web<img src="/usercontroller/images/logo.png" /></h2>
							  	 </div></a>
			                </div>
			            </div>		
			            <div class="clearfix"> </div>
			</div>
</div>
	<link rel="stylesheet" href="/usercontroller/css/swipebox.css">
	<script src="/usercontroller/js/jquery.swipebox.min.js"></script>
	    <script type="text/javascript">
			jQuery(function($) {
				//$(".swipebox").swipebox();
			});
		</script>
<!--/Portfolio-->
	</div>
</div>
<!--/work-->
<!--about-->
<div id="about" class="about">
	<div class="container">
		<div class="label-5"> </div>
		<div class="label-6"> </div>
		<h3><span class="left-icon"> </span>ABOUT<span class="right-icon">  </span><div class="clearfix"> </div></h3>
		<p>假如生活欺骗了你，不要悲伤，不要心急。</p>
		<div class="about-info">
			<div class="col-md-6 about-left">
				<img src="/usercontroller/images/about.jpg" class="img-responsive" alt=""/>
			</div>
			<div class="col-md-6 about-right">
				<p>君不见，黄河之水天上来，奔流到海不复回。
					君不见，高堂明镜悲白发，朝如青丝暮成雪。
					人生得意须尽欢，莫使金樽空对月。
					天生我材必有用，千金散尽还复来。
					烹羊宰牛且为乐，会须一饮三百杯。
					岑夫子，丹丘生，将进酒，杯莫停。
					与君歌一曲，请君为我倾耳听。
					钟鼓馔玉不足贵，但愿长醉不复醒。
					古来圣贤皆寂寞，惟有饮者留其名。
					陈王昔时宴平乐，斗酒十千恣欢谑。
					主人何为言少钱，径须沽取对君。
					五花马，千金裘，呼儿将出换美酒，与尔同销万古愁。 </p>
					<div class="about-icons">
						<a href="#"><span class="fb"> </span></a>
						<a href="#"><span class="tw"> </span></a>
						<a href="#"><span class="pin"> </span></a>	
						<a href="#"><span class="likdin"> </span></a>	
						<a href="#"><span class="dribble"> </span></a>	 
						<a href="#"><span class="be"> </span></a>
					 </div>
			</div>
			 <div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--/about-->
<!--contact-->
<div id="contact" class="contact">
	<div class="container">
		<div class="label-7"> </div>
		<div class="label-8"> </div>
		<h3><span class="left-icon"> </span>CONTACT<span class="right-icon"> </span><div class="clearfix"> </div></h3>
		<p>留下你美好的祝愿，莫使金樽空对月</p>
		<div class="conatct-form">
			<ul class="form">
				<li>
					<input type="text" id="name" class="text" value="Name*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name*';}" >
				</li>
				<li>
				<input type="text" id="email" class="text" value="Email*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email*';}" >
				</li>
				<li>
				<textarea value="Your Message*" id="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Message*';}">Message*</textarea>
				</li>
				<div class="sub-button">
					<input onclick="send()" type="submit" value="SEND">
				</div>
			</ul>
		</div>
		<div class="copyrights">
		<p>Copyright &copy; 2019.Company name All rights reserved.</p>
		</div>
		<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										//$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
		<a href="#home" id="toTop" class="scroll" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	</div>
</div>
<!--/contact-->

<!-- 左侧播放器 开始-->
<div id="jp_container_N" class="jp-video jp-video-270p jp-state-playing" role="application" aria-label="media player" style="left: 0px; height: 175px; bottom: 20px;">
	<div class="jp-type-playlist">
		<div id="jquery_jplayer_N" class="jp-jplayer" style="width: 90px; height: 90px;">

			<audio id="jp_audio_0" preload="metadata" src="http://music.163.com/song/media/outer/url?id=31473269.mp3" title="那英"></audio>
			<video id="jp_video_0" preload="metadata" title="那英" style="width: 0px; height: 0px;"></video>
		</div>
		<div class="jp-gui">
			<div class="jp-video-play" style="display: none;">
				<button class="jp-video-play-icon" role="button" tabindex="0">播放</button>
			</div>
			<div class="jp-interface">
				<div class="jp-progress">
					<div class="jp-seek-bar" style="width: 100%;">
						<div class="jp-play-bar" style="overflow: hidden; width: 97.5219%;"></div>
					</div>
				</div>
				<div class="jp-current-time" role="timer" aria-label="time">04:11</div>
				<div class="jp-duration" role="timer" aria-label="duration">04:17</div>
				<div class="jp-controls-holder">
					<div class="jp-controls">
						<button class="jp-previous" role="button" tabindex="0">上一曲</button>
						<button class="jp-play" role="button" tabindex="0">播放</button>
						<button class="jp-next" role="button" tabindex="0">下一曲</button>
						<button class="jp-stop" role="button" tabindex="0">暂停</button>
					</div>
					<div class="jp-volume-controls">
						<button class="jp-mute" role="button" tabindex="0">静音</button>
						<button class="jp-volume-max" role="button" tabindex="0">最大音量</button>
						<div class="jp-volume-bar">
							<div class="jp-volume-bar-value" style="width: 10%;"></div>
						</div>
					</div>
					<div class="jp-toggles">
						<button class="jp-repeat" role="button" tabindex="0">重复</button>
						<button class="jp-shuffle" role="button" tabindex="0">随机</button>
						<!--<button class="jp-full-screen" role="button" tabindex="0">全屏</button>-->
					</div>
				</div>
				<div class="jp-details" style="display: none;">
					<div class="jp-title" aria-label="title">那英</div>
				</div>
			</div>
		</div>
		<div class="jp-playlist">
			<div class="jp-playlist-box" style="height: 80px;">
				<ul style="height: 1000px; display: block; top: 0px;">
					<li>
						<div>
							<a href="javascript:;" class="jp-playlist-item-remove">×</a>
							<a href="javascript:;" class="jp-playlist-item" tabindex="0">默 <span class="jp-artist" style="transform: rotate(180deg);"> - 那英</span></a>
						</div>
					</li>
					<li class="">
						<div>
							<a href="javascript:;" class="jp-playlist-item-remove">×</a>
							<a href="javascript:;" class="jp-playlist-item" tabindex="0">Ellens Gesang III D839 <span class="jp-artist" style="transform: rotate(180deg);"> - Geoffrey Parsons</span></a>
						</div>
					</li>
					<li>
						<div>
							<a href="javascript:;" class="jp-playlist-item-remove">×</a>
							<a href="javascript:;" class="jp-playlist-item" tabindex="0">Fire <span class="jp-artist" style="transform: rotate(180deg);"> - Said The Sky</span></a>
						</div>
					</li>
					<li class="jp-playlist-current" style="display: list-item;">
						<div>
							<a href="javascript:;" class="jp-playlist-item-remove">×</a>
							<a href="javascript:;" class="jp-playlist-item jp-playlist-current" tabindex="0">兰若词 <span class="jp-artist" style="transform: rotate(180deg);"> - 刘亦菲</span></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="jp-no-solution" style="display: none;">
			<span style="transform: rotate(180deg);">升级需要</span> 您浏览器赞不支持播放，请更新版本
			<a href="http://get.adobe.com/flashplayer" target="_blank">Flash插件</a>.
		</div>
	</div>
	<!--歌曲列表滚动条-->
	<div class="scrollBar" style="display: block;">
		<div class="bar" style="top: 0px;"></div>
	</div>
	<!--播放器展开隐藏按钮-->
	<button type="button" class="folded_bt" title="点击收缩" id="btnfold" style="top: 52px;">
		<span style="transform: rotate(180deg);"></span>
	</button>
	<div id="listRemove" style="display: block;"></div>
	<!--移除全部歌曲按钮-->
	<div id="listClose"></div>
	<!--歌曲列表展开收缩按钮-->
</div>
<!-- 左侧播放器 结束-->
<!--播放器js-->
<script src="/usercontroller/js/player.js"></script>
<script src="/usercontroller/js/playlist.js"></script>
<script src="/usercontroller/js/player_database.js"></script>
<!--播放器js-->

<script type="application/javascript">
	function send() {
		var name = $("#name").val();
		var email = $("#email").val();
		var text = $("#text").val();
		if(name=="Name*"){
			alert("请输入姓名");
			return;
		}
		if(email=="Email*"){
			alert("请输入邮箱");
			return;
		}
		if(text=="Your Message*"){
			alert("请输入内容");
			return;
		}
		var data = {};
		data["name"] = name;
		data["email"] = email;
		data["text"] = text;
		$.ajax({
			url:"/usercontroller/testboot/setContact",
			data:data,
			success:function(data){
				if(data.code == 1){
					alert("留言成功！");
				}
			}
		})
	}

</script>
</body>
</html>